<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/1057/4964/t/24/assets/star-wars-banner.jpeg);">
  <div class="container">
    <h1>Shared  <strong>your favorite movie </strong> with <strong>anyone</strong>!</h1>
    <%= link_to "Try to create your list now", new_list_path, class:"btn" %>
  </div>
</div>
